<!DOCTYPE html>
<html>
  <head>
    <title>RubyBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "My account", root_path %>

    <%= yield %>

    <%= link_to "Logout", session_path, method: :delete %>
  </body>
</html>
